@font-face{
    src: url(../fonts/NunitoSans-Regular.ttf);
    font-family: "Nunito Sans";
}
@font-face{
src: url(../fonts/YesevaOne-Regular.ttf);
font-family: 'YesevaOne';
}
body{
    margin: 0;
    box-sizing: border-box;
}
body * {
    box-sizing: border-box;
}
.header{
    background-color: black;
    font-size: 11px;
    line-height: 15px;
    color: white;
    font-family: 'Nunito Sans';
}
.title{
    font-family: 'YesevaOne';
    font-style: normal;
    font-weight: normal;
    margin: 0;
}
.subtitle{
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: normal;
}
.first-checkbox{
    margin-top: 20px;
    margin-bottom: 20px;
    position: relative;
    width: 400px;
}
.check{
    margin-left: 60px;
    margin-top: 0;
}
.checkbox{
    display: none;
}

.fake{
    display: inline-block;
    width: 18px;
    height: 18px;
    position: relative;
    margin-top: -4px;
    background-color: white;
    border: 1px solid  #E3B873;
}
.fake:hover{
    background-color: #E3B873;
    transition: .5s;
}

.fake::before{
    content: " ";
    position: absolute;
    display: block;
    width: 18px;
    height: 18px;
    background-image: url(../images/check.png);
    transition: .2s;
    opacity: 0;
    cursor: pointer;
    top: -1px;
    left: -1px;
}
.checkbox:checked + .fake::before{
    opacity: 1;
}
.circle_change{
    width: 15px;
    background-color: gray;
    border-radius: 50%;
    height: 15px;
    cursor: pointer;  
}
.circle_change:hover{
    background-color: white;
    width: 20px;
    height: 20px;
    transition: .2s;
}
.header-container{
    max-width: 1250px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    height: 83px;
    align-items: center;
}
.header-navigation{
    display: flex;
    list-style: none;
    margin-left: -10px;
}
.header-navigation__item{
    margin-right: 40px;
    }
.header-navigation__item a {
   text-decoration: none;
   color: white;
   font-family: 'Nunito Sans';
}
.header-navigation__item :hover {
    color: #E3B873;
    transition: .2s;
 }
.button {
    background: #E3B873;
    text-transform: uppercase;
    box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.2);
    border-radius: 2px;
    border: 0;
    outline: 0;
    padding: 13px 33px;
    font-style: italic;
    color: white;
    cursor: pointer;
}
.logo{
    color: #E3B873;
}
.logo_phone{
    color: #E3B873;
    text-decoration-line: underline;
    margin-right: 10px;
    font-style: normal;
    font-weight: normal;
    cursor: pointer;
}
.home{
    background-image: url(../images/first_image.jpg);
    background-size: cover;
    height: 707px;
    padding-top: 194px;
    padding-left: 134px;
    z-index: 1;
    position: relative;
    color: white;
    
}
.home-background{
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .7);
}
.fist_step-container__title{
    margin: 0;
    font-size: 40px;
    line-height: 53px;
    
}
.home_rdn{
    color: #E3B873;
}
.home-container{
    z-index: 1;
    position: relative;
    justify-content: center;
    max-width: 1440px;
    margin: 0 auto;
}
.firs_step-container__subtitle{
    font-size: 22px;
    line-height: 36px;
}
.home-container__button{
    font-style: italic;
    font-size: 11px;
    color: #FFFFFF;
    background: initial;
    border: 1px solid #FFFFFF;
    padding-top: 19px;
    padding-left: 42px;
    padding-bottom: 19px;
    padding-right: 42px;
    margin-right: 20px;
    line-height: 15px;
    cursor: pointer;  
}
.button2{
    padding-top: 19px;
    padding-left: 30px;
    padding-bottom: 19px;
    padding-right: 30px;
}
.home-container__button:hover{
    background-color: #E3B873;
    border-color: transparent;
}
/* start second step */
.project{
    background: #131313;
    height: 1074px;
    color: white;
    display: flex;
    justify-content: center;
}
.project-container{
    padding-top: 107px;
    max-width: 1440px;
}
.project-container-navigation{
    display: flex;
    list-style: none;
    margin-left: 40%;
}
.project-container-navigation__item a{
    font-size: 14px;
    line-height: 19px;
    text-transform: uppercase;
    text-decoration: none;
    color: rgba(255, 255, 255, 0.3);
    margin-right: 30px;
    width: max-content;
}
.project-container-navigation__item a:hover{
    color: #E3B873;
    border-bottom: 1px #E3B873 solid;
    padding-bottom: 4px;
    transition: .2s;
}
.project-container-container{
    display: flex;
    justify-content: center;
}
.project_first_image{
    margin-top: 30px;
    background-image: url(../images/second_1.png);
    background-size: cover;
    width: 680px;
    height: 482px;
}
.mobile_img{
    display: none;
}
.change_arrow{
    display: none;
}
.project-container-container-content_title{
    font-size: 27px;
    line-height: 37px;
    letter-spacing: -0.07em;
    color: #E3B873;
}
.change_image{
    width: 200px;
    justify-content: space-between;
    display: flex;
    margin-top: 140px;
    height:50px;
    align-items: center;
}
.project-container-container-content_subtitle{
    font-size: 14px;
    line-height: 27px;
    width: 432px;
}
.project-container-container-content{
    margin-right: 72px;
}
.project-container-container-content-detail{
    display: flex;
    justify-content: space-between;
    width: 350px;
}
.project-container-container-content-detail-content_title{
    font-size: 18px;
    line-height: 25px;
    color: #E3B873;
    margin-bottom: 9px;
    margin-top: 34px;
}
.project-container-container-content-detail-content_subtitle{
    font-size: 13px;
    line-height: 21px;
    color: #FFFFFF;
}
.rep{
    margin-top: 13px;
}
/* start control section */
.control{
    margin-top: -300px;
    color: white;
    display: flex;
    margin-bottom: 80px;
    justify-content: center;
}
.control-container_img{
    margin-top: 30px;
    align-self: center;
}
.control-container_img_backgound{
    background: rgba(0, 0, 0, 0.8);
    width: 817px;
    height: 434px;
    margin-top: -439px;
    z-index: 1;
    position: relative;
}
.play{
    margin-top: 140px;
    cursor: pointer;
}
.control-container{
    justify-content: space-between;
    display: flex;
    flex-direction: column;
    text-align: -webkit-center;
}
.control-container_text_input{
    font-size: 14px;
    line-height: 163.68%;
    color: black;
}
.control-container_text_input2{
    color: white;
    font-size: 14px;
    line-height: 163.68%;
}
.control-container_line{
    border-top: 2px solid #E3B873;
    border-bottom: 0;
    border-left: 0;
    border-right: 0;
    border-radius: 30px;
    margin-top: 60px;
    width: 55px;
}
.control-container_text{
    font-size: 18px;
    line-height: 37px;
    text-align: center;
    color: #363636;
    width: 681px;
}
.control-container_form{
    width: 800px;
    display: flex;
    margin-bottom: 30px;
    flex-wrap: wrap;
    justify-content: center;
}
.control-container_form_label{
    font-size: 13px;
    line-height: 21px;
    color: rgba(54, 54, 54, 0.5);
    width: 300px;
    text-align: start;
}
.control-container_label{
    font-size: 18px;
    line-height: 37px;
    text-align: center;
    color: #363636;
    width: 400px;
}
.checkbox-container{
    position: relative;
}
.repair-label{
    align-self: left;
}
.control-container_form_input{
    font-size: 14px;
    line-height: 23px;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-bottom: 1px black solid;
    width: 200px;
    background-color: white;
    color: black;
    margin-bottom: 30px;
}
.control-container_form_label_button{
    width: 200px;
    height: 51px;
}
/* start repair section */
.repair{
    justify-content: center;
    display: grid;
}
.repair-container{
    max-width: 1440px;
}
.repair-container_title{
    font-size: 20px;
    line-height: 28px;
    text-align: center;
    text-transform: uppercase;
    color: #181818;
}
.repair-container_img{
    justify-content: center;
    display: flex;
    margin-top: 13px;
    margin-bottom: 30px;
}
.repair-container-container{
    display: flex;
    justify-content: space-between;
    margin-left: 30px;
}
.repair-conntainer-container-content-text_title{
    margin-top: -130px;
    background-color: white;
    z-index: 1;
    position: relative;
    width: 310px;
    margin-left: 31px;
    font-size: 18px;
    line-height: 25px;
}
.repair-conntainer-container-content-text_subitle{
    font-size: 13px;
    line-height: 27px;
    color: #959595;
}
.repair-conntainer-container-content{
    margin-right: 40px;
}

/* question */
.repair-question{
    display: flex;
    justify-content: space-between;
}

.repair-question-content{
    height: 600px;
    width: 624px;
    background-image: url(../images/background_question.png);
    background-size: cover;
}
.repair-question-content-table{
    margin-left: 150px;
    margin-top: 78px;
    height: 506px;
}
.repair-question-content-table_text{
    width: 369px;
    font-size: 14px;
    line-height: 19px;
}
.repair-question-form{
    background-color: black;
    color: white;
    width: 500px;
    height: 500px;
    margin-top: 100px;
    padding-top: 28px;
    padding-left: 50px;
    padding-right: 50px;
    text-align: center;
    display: flex;
    flex-direction: column;
}
.repair-question-form_label{
    margin-top: 50px;
    text-align: left;
    font-size: 13px;
    line-height: 21px;
    color: rgba(255, 255, 255, 0.5)
}
.repair-question-form_input{
    width: 400px;
    background: initial;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-color: rgba(255, 255, 255, 0.5);
    color: white;
}
.repair-question-form_label_text{
    margin-top: 20px;
    text-align: left;    
    font-size: 14px;
    line-height: 163.68%;
}
.repair_button{
    width: 210px;
    margin-left: 30px;
    height: 51px;
    margin-top: 15px;
    font-style: normal;
    padding: 0;
    text-align: center;
    padding-top: 15px;
    cursor: auto;
}
.repair_form_button{
    width: 213px;
    margin-left: 180px;
}
.repair-container_label{
    font-size: 14px;
    line-height: 37px;
    text-align: start;
    color: white;
}
.piggy_image{
    margin-left: 61%;
}

/* client's section */

.client-container{
    margin-top: 80px;
    margin-bottom: 150px;
}
.client-container_title{
    font-size: 20px;
    line-height: 28px;
    text-align: center;
}
.clients_image{
    margin-left: 46%;
    margin-top: 16px;
}
.client-container_subtitle{
    font-size: 18px;
    line-height: 29px;
    text-align: center;
}
.client-container-content{
    margin-top: 40px;
    display: flex;
    justify-content: center;
}
.client-container-content_block{
    width: 376px;
    max-width: 376px;
    margin-left: 80px;
}
.client-container-content_block_head{
    display: flex;
}
.client-container-content_block_headimg{
    border-radius: 50%;
    margin-right: 20px;
}
.client-container-content_block_title{
    margin-top: 10px;
    font-size: 18px;
    line-height: 23px;
}
.client-container-content_block_subtitle{
    font-size: 13px;
    line-height: 23px;
    color: #959595;
    text-transform: lowercase;
    width: 324px;
}
.client-container-content_button{
    font-style: normal;
    font-weight: normal;
    font-size: 17px;
    line-height: 24px;
    margin-right: -2px;
    margin-bottom: 150px;
}
/* contacts section */
.contacts{
    height: 900px;
    background-color: black;
    display: block;
    justify-content: center;
    background-image: url(../images/contact_background.jpg);
    background-size: cover;
    box-shadow: 1000px 2000px 1000px rgba(0, 0, 0, 0.7) inset
}
.contacts-container{
    display: flex;
    justify-content: center;
}
.contacts-container-form{
    margin-top: -230px;
    background-color: black;
    color: white;
    width: 900px;
    height: 450px;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-top: 35px;
    padding-left: 180px;
    padding-bottom: 35px;
    padding-right: 180px;
}
.contacts_icons{
    display: flex;
    justify-content: center;
    margin-top: 40px;
    margin-bottom: 20px;
}
.contacts_map{
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}
.contacts-container-form_label{
    text-align: start;
    margin-right: 120px;
    margin-bottom: 50px;
}
.contact-container_title{
    font-size: 20px;
    line-height: 28px;
    text-align: center;
    margin-top: 50px;
    color: #E3B873;
}
.contacts-container-form_label_input_bottom{
    width: 580px;
    color: white;
    background: initial;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-color: rgba(255, 255, 255, 0.5);
}
.contacts-container-form_label_input{
    width: 230px;
    background: initial;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    color: white;
    border-color: rgba(255, 255, 255, 0.5);
}
.contacts-container-form-line{
    display: flex;
}
.contacts-container-form_button{
    width: 200px;
    height: 51px;
}
.contacts-container-form_title{
    font-size: 20px;
    line-height: 28px;
    margin-bottom: 50px;
}
.contacts-container-form_label_agree{
    align-self: flex-end;
    text-align: start;
    margin-right: 120px;
    margin-bottom: 50px;
}
.contacts-container-form_button{
    align-self: center;
}
/* footer */
.footer{
    background-color: black;
    font-size: 11px;
    line-height: 15px;
    color: white;
    font-family: 'Nunito Sans';
}

/* start development mobile version */
@media (max-width: 1024px){
    .header-container {
        justify-content: space-evenly;
    }
    .project-container-container-content {
        margin-right: 0;
    }
    .project_first_image {
        display: none;
    }
    .project-container-navigation__item a {
        margin-right: 10px;
    }
    .mobile_img {
        width: 458px;
        height: 337px;
        background-size: cover;
        display: flex;
        justify-content: space-between;
        margin: auto;
        align-items: center;
        background-image: url(../images/mobile_image.png);
    }
    .change_arrow{
        display: inline;
    }
    .control {
        margin-top: -230px;
    }
    .control-container_form {
        margin-bottom: 0;
    }
    .repair-container-container {
        display: flex;
        flex-direction: column;
    }
    .repair-conntainer-container-content {
        margin-bottom: 30px;
    }
    .project-container-navigation {
        display: none;
    }
    .change_image {
        display: none;
    }
    .project-container-container-content_subtitle {
        width: auto;
        text-align: center;
    }
    .project-container-container-content-detail {
        justify-content: space-around;
        width: auto;
    }
    .project-container-container-content_title {
        text-align: center;
    }
    .repair-question {
        display: none;
    }
    .piggy_image {
        display: none;
    }
    .client-container-content {
        flex-direction: column;
    }
    .client-container-content_block {
        margin-left: 36%;
    }
    .contacts {
        height: 840px;
    }
    .contacts_icons {
        margin-top: 10px;
        margin-bottom: 10px;
    }
    .contact-container_title {
        margin-top: 10px;
    }
}



@media (max-width: 375px){
    .button_header{
        display: none;
    }
    .first-checkbox{
        width: 300px;
        }
    .checkbox {
        left: 6px;
        top: -6px;
    }
    .check {
        margin-left: 35px;
    }
    .home-container__button{
        width: 338px;
    }
    .header-navigation{
        display: none;
    }
    .header-container{
        height: 60px;
    }
    .fist_step-container__title{
        font-size: 24px;
        line-height: 30px;
    }
    .home{
        height: 476px;
        padding-left: 18px;
        padding-top: 85px;
        background-image: url(../images/first_image_mobile.png);
        background-size: cover;
    }
    .firs_step-container__subtitle{
        font-size: 14px;
        line-height: 135.84%;
        margin-bottom: 50px;
    }
    .home-container__button{
        margin-top: 20px;
    }
    .home-background{
        width: 375px;
    }
    .logo_phone{
        color: white;
        text-decoration-line: none;
        margin-right: 10px;
    }
    .logo{
        margin-left: 10px;
    }
    .project-container{
        max-width: 375px;
        flex-direction: column;
        display: flex;
        flex-wrap: wrap;
        padding-top: 30px;
        background: black;
    }
    .control-container_text {
        margin-bottom: 80px;
    }
    .mobile_img{
        width: 340px;
        height: 240px;
    }
    .project-container-container{
        max-width: 375px;
    }
    .project-container-container-content_subtitle{
        width: 350px;
        font-size: 11px;
        line-height: 158.48%;
        margin-left: 10px;
        text-align: center;
    }
    .project-container-container-content_title{
        text-align: center;
    }
    .control-container_img_backgound{
        width: 321px;
        height: 171px;
        margin-top: -174px;
    }
    .control-img{
        width: 320px;
    }
    .project{
        height: 974px;
    }
    .control-container_text{
        width: 320px;
        font-size: 11px;
        line-height: 169.8%;
        color: white;
    }
    .control-container{
        background-color: black;
    }
    .play {
        margin-top: 37px;
        width: 108px;
    }
    .project-container-container-content-detail{
        margin-left: 20px;
    }
    .control-container_form {
        width: 375px;
        display: flex;
        flex-direction: column;
        margin-bottom: -25px;
    }
    .control-container_form_input {
        width: 355px;
        background-color: initial;
        color: white;
        border-bottom: 2px solid rgba(54, 54, 54, 0.3);
    }
    .control-container_form_label {
        color: white;
        width: auto;
        margin-bottom: 20px;    
    }
    .control-container_text_input{
        color: white;
    }
    .control-container_form_label_button{
        margin-top: 10px;
        order: 2;
        width: 340px;
    }
    .repair_image{
        width: 320px;
        height: 350px;
    }
    .repair-conntainer-container-content-text_title {
        margin-left: 0px;
    }
    .repair-conntainer-container-content{
        margin-right: 0;
    }
    .repair-container {
        max-width: 375px;
    }
    .repair-container-container {
        display: flex;
        flex-direction: column;
        margin-left: 0;
    }
    .repair_button{
        margin-left: 0px;
        margin-bottom: 60px;
    }
    .repair-question{
        display: none;
    }
    .piggy_image{
        display: none;
    }
    .client{
        display: none;
    }
    .contacts{
        background-image: none;
    }
    .contacts-container-form {
        margin-top: 0;
        padding-top: 0px;
        padding-left: 0px;
        padding-bottom: 0px;
        padding-right: 0px;
    }
    .contacts-container-form_label {
        margin-left: 25px;
        margin-right: 0px;
        margin-bottom: 50px;
    }
    .contacts-container-form-line {
        display: flex;
        flex-direction: column;
    }
    .contacts-container-form_label_input {
        width: 330px;
    }
    .contacts-container-form_label_input_bottom {
        width: 330px;
    }.contacts-container-form_label_agree {
        margin-right: 0px;
    }
    .contacts-container-form_button {
        width: 350px;
    }
    .footer_button{
        display: none;
    }
    .contact-container_title {
        margin-top: 20px;
        order: 2;
    }
    .contacts_icons {
        margin-top: 10px;
        margin-bottom: 10px;
        order: 3;
    }
    .map{
        width: 320px;
        height: 161px;
    }
    .contact-container-bottom {
        flex-direction: column;
        display: flex;
        padding-top: 30px;
        padding-bottom: 30px;
        background-color: black;
    }
    .contacts_map {
        margin-bottom: 20px;
        order: 1;
    }
    .footer{
        display: none;
    }
}